<a href="https://colab.research.google.com/github/dunomi/assignments/blob/master/zp4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

airlines = pd.read_csv("https://raw.githubusercontent.com/gagolews/Analiza_danych_w_jezyku_Python/master/zbiory_danych/nycflights13/flights.csv")

**year**, **month**, **day** Date of departure.

**dep_time**, **arr_time** Actual departure and arrival times (format HHMM or HMM), local tz.

**dep_delay**, **arr_delay** Departure and arrival delays, in minutes. Negative times represent early departures/arrivals.

**carrier** Two letter carrier abbreviation. See airlines to get name.

**flight** Flight number.

**tailnum** Plane tail number. See planes for additional metadata.

**origin**, **dest** Origin and destination. See airports for additional metadata.

**air_time** Amount of time spent in the air, in minutes.

**distance** Distance between airports, in miles.

**hour**, **minute** Time of scheduled departure broken into hour and minutes.

In [0]:
airlines.tail(5)

airlines.arr_delay[np.logical_not(np.isnan(airlines.arr_delay))]

In [10]:
airlines.head(5)

   Unnamed: 0  year  month  day  ...  air_time  distance  hour  minute
0           1  2013      1    1  ...     227.0      1400   5.0    17.0
1           2  2013      1    1  ...     227.0      1416   5.0    33.0
2           3  2013      1    1  ...     160.0      1089   5.0    42.0
3           4  2013      1    1  ...     183.0      1576   5.0    44.0
4           5  2013      1    1  ...     116.0       762   5.0    54.0

[5 rows x 17 columns]